<nav class="navbar navbar-light bg-light">  
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/page1?depth=0">Page 1</a>
      <a class="nav-item nav-link" href="/page2?depth=0">Page 2</a>
      <a class="nav-item nav-link" href="/page1?depth=0">Page 3</a>
    </div>
</nav>