import layout from './layout'
<include(layout)>
    <@body>
    <div class="container">
        <h1>Hello Marko!!</h1>
        <app-hello name="Person"></app-hello>
		<i class="fal fa-shield-check"></i>
        </div>
    </@body>
</include>