import layout from './layout'
<include(layout)>
    <@body>
       <app-header page = "1" depth = "${input.depth}"></app-header>
       <div class="row">
       <app-linkWidget cardTitle="Downward links" depth = "${+input.depth + 1}"></app-linkWidget>
       <app-linkWidget  if(input.depth>0) cardTitle="Upward links" depth = "${input.depth - 1}"></app-linkWidget>
       </div>
    
    </@body>
</include>