import layout from './layout'
<include(layout)>
    <@body>
    <div class="container">
        <h1>Scraping template site</h1>
        <h2>Page:1 - Depth: ${input.depth}</h2>
       
        </div>
    </@body>
</include>